
@font-face {
    font-family: 'Euxodus Sans ExtraBold';
    src: url('/src/fonts/EudoxusSans-ExtraBold.woff2') format('woff2'),
         url('/src/fonts/EudoxusSans-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Euxodus Sans Bold';
    src: url('/src/fonts/EudoxusSans-Bold.woff2') format('woff2'),
         url('/src/fonts/EudoxusSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

