@import '_main.scss';

@mixin opacity-anim($from, $to) {
    $name: inline-#{unique-id()};
    @keyframes #{$name} {
      0% {
          opacity: $from;
        }
      100% {
          opacity: $to;
        }
    }

    animation-name: $name;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
  }

section{
    position:relative;
    padding-top:$header-bar-height;
    
}
h1{
    max-width: 20ch;
    text-align: center;
    margin:auto;

    margin-top: 124px;
    margin-bottom: 60px;

    @include portrait{
        max-width: 335px;
        margin-top: 59px;
    }
}

p{
    text-align: center;

    &:first-of-type{
        margin-top:96px;
        @include portrait{
            margin-top:65px;
        }
    }
}

.download-button{
    display:block;
    background-color: #000000;
    border: 2px solid #A6A6A6;
    border-radius: 12px;

    display:flex;
    justify-content: center;
    align-items: center;

    height:56px;
    width:190px;

    margin:auto;
    margin-bottom:90px;
    transition: box-shadow 0.3s ease-in-out;

    object, img{
        pointer-events: none;
    }

    &:hover{
        box-shadow: 0 0 25px rgba(#000000, 0.3);
    }
    
}

//========================================================================================
/*                                                                                      *
 *                                     MOBILE MOCKUP                                    *
 *                                                                                      */
//========================================================================================

.mobile-mockup{
    margin:auto;
    position:relative;

    height: 560px;
    width: 280px;
    .frame, .content{
        position:absolute;
        width:100%;
    }
    .frame{
        z-index:10;
        pointer-events: none;
    }
    .content{
        z-index:1;
        overflow:hidden;
        width: 270px;
        height: 550px;
        margin-left: 5px;
        margin-top: 5px;
        border-radius: 30px;

        img{
            width:95%;
            position:absolute;
            object-fit:contain;
            top:50%;
            left:50%;
            transform: translateX(-50%) translateY(-50%);
        }
        .screen-1{
            height:96%;
            @include portrait{
                height:94.5%;
            }
        }
        .cover-profile{
            width:80px;
            height: 80px;
            background-color: #FEFEFE;

            position:absolute;
            z-index:1;
            bottom: 263px;
            left:50%;
            transform: translateX(-50%);
            pointer-events: none;
            opacity:0;

            transition: opacity 0.3s ease;
            &.play{
                @include opacity-anim(0,1);
            }

        }
        .screen-2{
            position:absolute;
            z-index:2;
            top:10px;
            right:-100%;
            opacity:0;
            transform: translateX(0) translateY(0);
            left:inherit;
            width: 91%;

            &.play{
                opacity:1;
                animation: screen2-anim 1s ease-out 1;
                animation-fill-mode: forwards;

            }
        }

        .wave-click{
            width:90px;
            height:24px;
            background-color: rgba(black, 0.5);
            position:absolute;
            z-index:3;
            bottom: 240px;
            left: 28px;
            border-radius: 9px;
            opacity:0;

            &.play{
                @include opacity-anim(0, 1);
      
            }
        }
        .circle-anim{
            width: 30px;
            height: 30px;

            background-color: rgba($primary-color, 0.1);
            position:absolute;
            z-index:4;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            border-radius: 50%;
            opacity:0;
            transition: transform 0.5s ease-in, color 0.5s ease-in;

            &.play{
                opacity:1;
                animation: circle-anim 0.5s ease-in 1;
                animation-fill-mode: forwards;
            }
        }
        .screen-3{
            position:absolute;
            top:50%;
            left:50%;
            z-index: 5;
            transform: translateX(-50%) translateY(-50%);
            // opacity:0.8;
            background-image: url('/src/img/Screen10.png');
            background-repeat: no-repeat;
            background-size: 244px auto;
            background-position: 50% -70px;
            width:80px;
            height:80px;
            border-radius: 50%;
            opacity:0;


            &.play{
                opacity:1;
                animation: screen3-anim 0.5s ease-in;
                animation-fill-mode: forwards;
                // width: 600px;
                // height:600px;

                // background-position: 50% 50%;

            }
            &.play2{
                opacity:1;
                width: 600px;
                height:600px;
                background-position: 50% 50%;
                animation: screen3-to-right 0.5s ease-in;
                animation-fill-mode: forwards;
            }
        }

        .keyboard{
            position:absolute;
            bottom:-50%;
            top:unset;
            left:50%;
            z-index: 6;
            opacity:0;
            width: 245px;
            transform: translateX(-50%);
            &.play{
                opacity:1;
                animation: keyboard 0.5s ease;
                animation-fill-mode: forwards;
            }
        }



    }

    .hover-content{
        position:absolute;
        top:0;
        left:0;
        height: 540px;
        width: 260px;
        
        background-color: rgba(#000000, 0.8);
        z-index:9;
        border-radius: 40px;

        margin:10px;

        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        visibility:hidden;
        opacity: 0;

        transition: opacity 0.3s ease-in-out;
        
        @include portrait{
            height: 340px;
        width: 160px;
        border-radius: 10px;
        }
        
        p{
           font-family: $font;
           font-size: 17px;
           color:white; 
           width:180px;
            @include portrait{
                font-size: 12px;
            }
        }
        .button{
            background-color: $primary-color;
            color:white; 
            font-size: 13px;
            font-family: $font;
            font-weight: 600;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 20px;
            margin: 20px 0;
            transition: all 0.3s ease-in-out;
            @include portrait{
                font-size: 8px;
                padding: 5px 10px;
            }

            &:hover{
                background-color: white;
                color: $primary-color;
            }
        }
        .icon{
            img{
                width:20px;
            }
        }

        
    }
    &:hover{
        .hover-content{
            visibility:visible;
            opacity: 1;
        }
        
    }

    @include portrait{
        height: 360px;
        width: 180px;

        .content{
    
            height: 360px;
            width: 180px;
            margin:0;
            img{
           
                height:100%;
                object-fit: contain;
            
            }
            .cover-profile{
                width:50px;
                height:50px;

                bottom:174px;
            }
            .screen-2{
                width:87%;
                top:0;
            }
            .wave-click{
                left: 20px;
                bottom: 160px;

                height:14px;
                width:60px;
                border-radius:4px;
            }

            .screen-3{
                height: 60px;
                width: 60px;

                background-size: 160px auto; 
                background-position: 50% -40px;

                &.play{
                    animation: screen3-anim-mobile 0.5s ease-in;
                    animation-fill-mode: forwards;
    
                }
            }
            .keyboard{
                width:160px;
                &.play{
                    animation: keyboard-mobile 0.5s ease-in;
                    animation-fill-mode: forwards;
    
                }
            }
        }
    }
}
.title-bold-36{
    max-width: 590px;
    margin:0 auto;
}
//========================================================================================
/*                                                                                      *
 *                                         FORM                                         *
 *                                                                                      */
//========================================================================================
.hidden-frame{
    display:none;
}
.waitlist-form{
    display:flex;
    justify-content: center;
    align-items:center;

    margin-top: 51px;
    padding-bottom: 143px;

    position:relative;
    
    @include portrait{
        flex-wrap:wrap; 
        margin-top: 39px; 
        padding-bottom: 130px;     
    }

        .validation-badge{
            position:absolute;
            top:0;
            opacity:0;
            visibility: hidden;

            width:441px;
            height: 44px;

            background-color: rgba(white, 0.9);
            border-radius: 8px;

            display:flex;
            justify-content:center;
            align-items:center;

            font-family: $font;
            font-weight: 500;
            font-size:15px;

            transition: top 0.3s ease-in-out;
            .icon{
                width:20px;
                height:20px;
                margin-left:5px;
                margin-bottom:5px;
            }

            &.error{
                background-color: #F1224A;
                color:white;
            }

            &.show{
                opacity:1;
                visibility: visible;
                top:64px;
            }

            @include portrait{
                top:124px; 
                width:100%;   
                &.show{
                    opacity:1;
                    visibility: visible;
                    top:124px;
                } 
            }
        }

    input, button{
        border:none;

    }
    input{
        width: 276px;
        height: 52px;

        background-color: #F4F5F7;

        border-radius: 12px 0 0 12px;

        padding: 0 17px;
        color: $dark-color;

        font-family: $font;
        font-size:17px;
        font-weight: 400;

        outline: none;
        &::placeholder{
            color: rgba(#8E8E93, 1);
        }

        @include portrait{
            width:100%;
            border-radius: 12px ; 
            margin-bottom: 10px; 
            &::placeholder{
                text-align: center;
            }     
        }
    }
    button{
        background-color: $dark-color;

        width: 163px;
        height: 52px;

        border-radius: 0 12px 12px 0;

        color: #FFFFFF;

        font-family: $font;
        font-weight: 600;
        font-size: 15px;

        cursor:pointer;

        @include portrait{
            width:100%;
            border-radius: 12px ;      
        }
    }
}

//========================================================================================
/*                                                                                      *
 *                                      BACKGROUND                                      *
 *                                                                                      */
//========================================================================================

.background-images{
    position:absolute;
    top:0;
    left:0;
    z-index:-1;

    overflow:hidden;

    width:100%;
    height:100%;

    .ripple{
        // position:absolute;
        width:100%;
        height:100%;

        .ring{
            width:66.5%;
            height:66.5%;
            border-radius:50%;
            border: 1px solid rgba($primary-color, 0.3);

            display:flex;
            justify-content: center;
            align-items: center;
            &.first{
                position:absolute;
                border: 1px solid rgba($primary-color, 0.1);
                width:calc(100% + 2px);
                height:calc(100% + 2px);
                border-radius:50%;
                top:0;
                left:0;
            }

        }

        img{
            width:66.5%;
            height:66.5%;
            border-radius: 50%;
            &.img-border{
                border: 2px solid rgba($primary-color, 1); 
                padding: 5%;
            }
        }

        .img{
            width:66.5%;
            height:66.5%;
            border-radius: 50%;

            position:relative;
            img{
               width:100%;
               height:100%; 
            }
            .icon{
                position:absolute;
                bottom:0;
                right: 0;

                width:36px;
                height: 36px;
                border-radius:50%;
                background-color: #FFFFFF;

                display:flex;
                justify-content: center;
                align-items: center;

                box-shadow: 0 2px 4px rgba(black, 0.16);
                .icon-img{
                    border:none !important;
                    width: 90%;
                    height: 90%;
                }

                @include portrait{
                    width:16px;
                    height: 16px; 
                }
                
            }

            
        }
    }

}

#ripple-1{
    width: 230px;
    height: 230px;
    border-radius: 115px;

    left: 10%;
    top:362px;//282px;

    transform: translateX(-50%);
    @include portrait{
        display:none; 
    }
}

#ripple-2{
    width: 240px;
    height: 240px;
    border-radius: 120px;

    left: 20%;
    top:756px;

    transform: translateX(-50%);
    @include portrait{
        display:none; 
    }
}

#ripple-3{
    width: 360px;
    height: 360px;
    border-radius: 170px;

    left: 35%;
    top:418px;

    transform: translateX(-50%);

    @include portrait{
        width: 166px;
        height: 166px;  
        left: 5%;
        top:240px;  
    }

}

#ripple-4{
    width: 200px;
    height: 200px;
    border-radius: 100px;

    left: 65%;
    top:380px;

    transform: translateX(-50%);

    @include portrait{
        width: 92px;
        height: 92px;
        border-radius: 46px;

        left: 92%;
        top:220px;
    }

}

#ripple-5{
    width: 300px;
    height: 300px;
    border-radius: 150px;

    left: 70%;
    top:680px;

    transform: translateX(-50%);

    @include portrait{
        width: 138px;
        height: 138px;
        border-radius: 69px;

        left: 97%;
        top:370px;
    }
}

#ripple-6{
    width: 307px;
    height: 307px;
    border-radius: 160px;

    left: 90%;
    top: 480px;
    transform: translateX(-50%);
    img{
        transform: scaleX(-1);
    }
    @include portrait{
        display:none; 
    }

}

#ripple-7{
    width: 230px;
    height: 230px;
    border-radius: 115px;

    left: 0;
    top:633px;
    transform: translateX(-50%);
    @include portrait{
        display:none; 
    }
}

.big-ripple{
    width: 1200px;
    height: 1200px;
    border-radius: 600px;

    background-color: rgba($primary-color, 0.1);

    display: flex;
    justify-content: center;
    align-items:center;

    position:absolute;
    bottom: -300px;
    left:50%;

    transform: translateX(-50%);

    .ring{
        width: 81%;
        height: 81%;
        border-radius: 50%;

        background-color: rgba($primary-color, 0.1);

        display: flex;
        justify-content: center;
        align-items:center;

    }

    @include portrait{
        width: 934px;
        height: 934px;
        bottom: -250px;

        
        
    }

    
}
.ripple-outer{
    position:absolute;
}
//========================================================================================
/*                                                                                      *
 *                                       ANIMATION                                      *
 *                                                                                      */
//========================================================================================

@keyframes screen2-anim {
    0%{
        right: -100%;
    }

    100%{
        right: 12px;
    }
}
@keyframes screen3-anim {
    0%{
        width: 80px;
        height:80px;
        background-position: 50% -70px;
        
    }
    100%{
        width: 600px;
        height:600px;

        background-position: 50% 50%;
    }
}

@keyframes screen3-anim-mobile {
    0%{
        width: 60px;
        height:60px;

        background-position: 50% -40px;
        
    }
    100%{
        width: 400px;
        height:400px;

        background-position: 50% 50%;
    }
}

@keyframes screen3-to-right {
    0%{
        left: 50%;
      
        
    }

    100%{
        
        left: 150%;
    }
}

@keyframes keyboard {
    0%{
        bottom:-50%;

    }
    100%{
        bottom:18px;
    }
}

@keyframes keyboard-mobile {
    0%{
        bottom:-50%;

    }
    100%{
        bottom:-95px;
    }
}

@keyframes circle-anim {
    0%{
        background-color: rgba($primary-color, 0.1);
    }
    25%{
        background-color: rgba($primary-color, 0.2);
        transform: translateX(-50%) translateY(-50%) scale(1.1);
    }
    50%{
        background-color: rgba($primary-color, 0.4);
        transform: translateX(-50%) translateY(-50%) scale(1);
    }
    75%{
        background-color: rgba($primary-color, 0.8);
        transform: translateX(-50%) translateY(-50%) scale(0.1);
    }

    100%{
        background-color: rgba($primary-color, 0.8);
        transform: translateX(-50%) translateY(-50%) scale(20);
    }
    
}


//========================================================================================
/*                                                                                      *
 *                                      ANIMATIONS                                      *
 *                                                                                      */
//========================================================================================



.init-anim-bubble{
    opacity:0;

    transition: opacity $init-anim-time ease-out;
    transition-delay: 0.3s;
    &.show{
        opacity:1;
    }
    &.ring.first{
        animation-delay: 0.9s;
    }

    &.ring{
        animation-delay: 0.6s;
    }
    &img{
        
        animation-delay: 0.3s;
    }

    &.parallax{
        transition: opacity $init-anim-time ease-out, transform 0.1s linear;
    }
}
