@font-face {
  font-family: 'Euxodus Sans ExtraBold';
  src: url("/src/fonts/EudoxusSans-ExtraBold.woff2") format("woff2"), url("/src/fonts/EudoxusSans-ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Euxodus Sans Bold';
  src: url("/src/fonts/EudoxusSans-Bold.woff2") format("woff2"), url("/src/fonts/EudoxusSans-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  .container {
    padding: 0 16px;
  }
}

@media screen and (max-width: 1160px) {
  .container {
    padding: 0 16px;
  }
}

h1 {
  font-family: "Euxodus Sans ExtraBold", sans-serif;
  color: #141414;
  font-size: 64px;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 32px;
  }
}

.title-bold-36 {
  font-family: "Euxodus Sans Bold", sans-serif;
  color: #141414;
  font-size: 36px;
}

@media screen and (max-width: 700px) {
  .title-bold-36 {
    font-size: 24px;
  }
}

.error-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error-page .icon img {
  width: 60px;
  height: 60px;
}

.error-page p {
  font-family: "Euxodus Sans ExtraBold", sans-serif;
  font-size: 40px;
  color: #141414;
}

.error-page p.sub {
  font-family: "Euxodus Sans Bold", sans-serif;
  font-size: 18px;
  color: #8E8E93;
  margin-top: 20px;
  margin-bottom: 20px;
}

.error-page a {
  background-color: #6135C4;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 16px;
  margin-top: 30px;
  transition: background-color 0.3s ease;
}

.error-page a:hover {
  background-color: #141414;
}

.init-anim {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.init-anim.show {
  opacity: 1;
}

.top-header {
  width: 100vw;
  height: 80px;
  position: absolute;
  z-index: 20;
  top: 0px;
  left: 0;
  opacity: 0;
  transition: none;
  animation-name: show-menu, menu-fade-in;
  animation-duration: 1s, 1.5s;
  animation-fill-mode: none, forwards;
  animation-timing-function: ease-in-out;
}

@media screen and (max-width: 700px) {
  .top-header {
    height: 72px;
  }
}

.top-header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-header.fixed {
  position: fixed;
  z-index: 15;
  background-color: rgba(255, 255, 255, 0.9);
}

.top-header.show {
  top: 0;
}

.top-header.hide {
  top: -100px;
}

.top-header.mobile-fixed {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}

@keyframes show-menu {
  0% {
    opacity: 0;
    top: -100px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes menu-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*                                                                                      *
 *                                         MENU                                         *
 *                                                                                      */
.top-header ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.top-header ul li {
  margin-left: 32px;
}

@media screen and (max-width: 800px) {
  .top-header ul li.download {
    display: none;
  }
}

.top-header ul li.download-mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  .top-header ul li.download-mobile {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .top-header ul li {
    margin-left: 22px;
  }
}

.top-header ul li:first-of-type {
  margin-left: 0;
}

.top-header ul li a {
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  color: #141414;
  transition: color 0.3s ease-in-out;
  white-space: nowrap;
}

@media screen and (max-width: 700px) {
  .top-header ul li a {
    font-size: 13px;
  }
}

.top-header ul li a:hover {
  color: #6135C4;
}

.top-header ul li a.button {
  font-family: "Inter", sans-serif;
  color: #6135C4;
  font-weight: 600;
  border: 2px solid #6135C4;
  border-radius: 16px;
  padding: 12px 25px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.top-header ul li a.button:hover {
  color: white;
  background-color: #6135C4;
}

.top-header ul li a.button.button-tablet {
  padding: 8px 25px;
}

.top-header ul li a.active {
  padding-bottom: 5px;
  border-bottom: 2px solid #6135C4;
}

@media screen and (max-width: 700px) {
  .top-header ul li.menu-link {
    display: none;
  }
}

.top-header ul li.menu-link.active {
  position: relative;
}

.top-header ul li.menu-link.active:after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #6135C4;
}

.top-header ul li.burger-wrap {
  display: none;
}

@media screen and (max-width: 700px) {
  .top-header ul li.burger-wrap {
    display: block;
  }
}

.top-header ul li #burger-icon {
  display: flex;
  background: none;
  border: none;
  width: 26px;
  height: 26px;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  cursor: pointer;
}

.top-header ul li #burger-icon div {
  height: 3.8px;
  border-radius: 2px;
  background-color: #141414;
  transition: all 0.3s ease-in-out;
}

.top-header ul li #burger-icon div#line-1 {
  width: 26px;
  transform-origin: right;
}

.top-header ul li #burger-icon div#line-1.cross {
  width: 36.7px;
  transform: rotateZ(-45deg) translateY(-2.5px);
}

.top-header ul li #burger-icon div#line-2 {
  width: 20px;
  transform-origin: left;
}

.top-header ul li #burger-icon div#line-2.cross {
  transform: scale(0);
}

.top-header ul li #burger-icon div#line-3 {
  width: 26px;
  transform-origin: right;
}

.top-header ul li #burger-icon div#line-3.cross {
  width: 36.7px;
  transform: rotateZ(45deg) translateY(2.5px);
}

/*                                                                                      *
 *                                         LOGO                                         *
 *                                                                                      */
.top-header .logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.top-header .logo object,
.top-header .logo img {
  height: 100%;
  width: auto;
  pointer-events: none;
}

@media screen and (max-width: 700px) {

  .top-header .logo object,
  .top-header .logo img {
    height: 28px;
    width: auto;
    pointer-events: none;
  }
}

/*                                                                                      *
 *                                      MOBILE MENU                                     *
 *                                                                                      */
#mobile-menu {
  width: 100vw;
  height: calc(100vh - 72px);
  position: fixed;
  top: 72px;
  background-color: #FFFFFF;
  z-index: 20;
  right: -100vw;
  padding: 0 16px;
  padding-top: 67px;
  list-style: none;
  transition: right 0.3s ease-in-out;
  display: none;
}

#mobile-menu .menu-link {
  margin-bottom: 42px;
}

#mobile-menu .menu-link a {
  text-decoration: none;
  color: #141414;
  font-size: 28px;
  font-family: "Euxodus Sans Bold", sans-serif;
}

#mobile-menu .grey a {
  color: #8E8E93;
  font-size: 15px;
  font-family: "Inter", sans-serif;
}

#mobile-menu.show {
  right: 0;
}

@media screen and (max-width: 700px) {
  #mobile-menu {
    display: block;
  }
}

.footer-anim {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.footer-anim.show {
  opacity: 1;
}

footer {
  background-color: #141414;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 96px;
}

@media screen and (max-width: 700px) {
  footer {
    height: 223px;
  }
}

footer .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .container .copy,
footer .container ul,
footer .container .icon {
  width: 100%;
}

footer .container .copy {
  color: #D9DBE1;
  text-align: left;
}

@media screen and (max-width: 700px) {
  footer .container .copy {
    order: 2;
    color: #8E8E93;
    text-align: center;
  }
}

footer .container p {
  margin-top: 0;
}

footer .container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

@media screen and (max-width: 700px) {
  footer .container ul {
    order: 1;
    flex-wrap: wrap;
    width: 100%;
    max-width: 220px;
  }
}

footer .container ul li {
  margin-left: 32px;
}

footer .container ul li:first-of-type {
  margin-left: 0;
}

footer .container ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  white-space: nowrap;
}

footer .container ul li a:hover {
  color: #d4c6ef;
}

@media screen and (max-width: 750px) {
  footer .container ul li {
    width: 40%;
    white-space: nowrap;
    margin-left: 0;
  }

  footer .container ul li:last-of-type,
  footer .container ul li:nth-child(3) {
    width: auto;
    margin-top: 10px;
    margin-left: 0;
  }
  footer .container ul li:last-of-type {
    margin-bottom: 15px;
  }
}

footer .container .icon {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 700px) {
  footer .container {
    padding-top: 35px;
    padding-bottom: 50px;
    flex-direction: column;
  }

  footer .container .icon {
    order: 3;
    justify-content: center;
  }
}

/*                                                                                      *
 *                                   DOWNLOAD SECTION                                   *
 *                                                                                      */
.download-section {
  height: 459px;
  background-color: #141414;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  .download-section {
    height: 426px;
    padding-top: 110px;
    padding-bottom: 110px;
  }
}

.download-section .container {
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.download-section .container p {
  font-family: "Euxodus Sans ExtraBold", sans-serif;
  font-size: 48px;
  text-align: center;
  max-width: 20ch;
  color: #FFFFFF;
  margin-bottom: 42px;
}

@media screen and (max-width: 700px) {
  .download-section .container p {
    font-size: 32px;
  }
}

.download-section .container .download-button {
  display: block;
  background-color: #FFFFFF;
  border: 2px solid #A6A6A6;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 190px;
  margin: auto;
  margin-bottom: 90px;
  padding: 0 25px;
  transition: box-shadow 0.3s ease-in-out;
}

.download-section .container .download-button object,
.download-section .container .download-button img {
  width: 100%;
  pointer-events: none;
}

.download-section .container .download-button:hover {
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 700px) {
  .download-section .container .download-button {
    margin: auto;
  }
}

.download-section .ripple {
  width: 1440px;
  height: 1440px;
  border-radius: 50%;
  border: 1px solid rgba(97, 53, 196, 0.5);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .download-section .ripple {
    width: 625px;
    height: 625px;
  }
}

.download-section .ripple .ring {
  width: calc(100% - 261px);
  height: calc(100% - 261px);
  border-radius: 50%;
  border: 1px solid rgba(97, 53, 196, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .download-section .ripple .ring {
    width: calc(100% - 110px);
    height: calc(100% - 110px);
  }
}

/*                                                                                      *
 *                                       WAITLIST                                       *
 *                                                                                      */
section .container .waitlist {
  background-color: #6135C4;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 40px;
  padding: 110px 104px;
  position: relative;
  overflow: hidden;
}

section .container .waitlist .text {
  width: 50%;
  position: relative;
  z-index: 1;
}

section .container .waitlist .text p {
  font-family: "Euxodus Sans Bold", sans-serif;
  font-size: 32px;
  color: #FFFFFF;
}

@media screen and (max-width: 700px) {
  section .container .waitlist .text p {
    font-size: 24px;
  }
}

@media screen and (max-width: 1160px) {
  section .container .waitlist .text {
    width: 40%;
  }

  section .container .waitlist .text p {
    font-size: 24px;
  }
}

section .container .waitlist .form {
  width: 50%;
  min-width: 450px;
  padding-left: 104px;
  position: relative;
  z-index: 1;
}

section .container .waitlist .form .input {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .container .waitlist .form .input input {
  height: 52px;
  width: 60%;
  padding: 0 17px;
  border-radius: 12px 0 0 12px;
  border: none;
  outline: none;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

section .container .waitlist .form .input button {
  height: 52px;
  width: 40%;
  border-radius: 0 12px 12px 0;
  border: none;
  background-color: #141414;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding: 0 5px;
  cursor: pointer;
}

section .container .waitlist .form .input .validation-badge {
  position: absolute;
  top: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
  transition: top 0.3s ease-in-out;
}

section .container .waitlist .form .input .validation-badge .icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-bottom: 5px;
}

section .container .waitlist .form .input .validation-badge.error {
  background-color: #F1224A;
  color: white;
}

section .container .waitlist .form .input .validation-badge.show {
  opacity: 1;
  visibility: visible;
  top: 64px;
}

@media screen and (max-width: 700px) {
  section .container .waitlist .form .input .validation-badge {
    top: 124px;
  }

  section .container .waitlist .form .input .validation-badge.show {
    opacity: 1;
    visibility: visible;
    top: 124px;
  }
}

section .container .waitlist .circle {
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

section .container .waitlist .circle.one {
  width: 353px;
  height: 353px;
  left: -140px;
  top: -153px;
}

section .container .waitlist .circle.two {
  width: 196px;
  height: 196px;
  left: 247px;
  top: -90px;
}

section .container .waitlist .circle.three {
  width: 239px;
  height: 239px;
  left: 467px;
  top: -182px;
}

section .container .waitlist .circle.four {
  width: 387px;
  height: 387px;
  left: 769px;
  top: -208px;
}

section .container .waitlist .circle.five {
  width: 329px;
  height: 329px;
  left: 114px;
  bottom: -171px;
}

section .container .waitlist .circle.six {
  width: 229px;
  height: 229px;
  left: 467px;
  bottom: 29px;
}

section .container .waitlist .circle.seven {
  width: 234px;
  height: 234px;
  left: 681px;
  bottom: -100px;
}

section .container .waitlist .circle.eight {
  width: 295px;
  height: 295px;
  left: 934px;
  bottom: -151px;
}

@media screen and (max-width: 810px) {
  section .container .waitlist {
    flex-direction: column;
    justify-content: center;
  }

  section .container .waitlist .form {
    padding-left: 0;
  }

  section .container .waitlist .text {
    width: 100%;
    max-width: 450px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1160px) {
  section .container .waitlist {
    padding: 110px 84px;
  }
}

@media screen and (max-width: 700px) {
  section .container .waitlist {
    padding: 52px 34px;
  }

  section .container .waitlist .form {
    min-width: 0;
    width: 100%;
  }

  section .container .waitlist .form .input {
    flex-direction: column;
  }

  section .container .waitlist .form .input input,
  section .container .waitlist .form .input button {
    height: 48px;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10px;
  }

  section .container .waitlist .form .input input::placeholder,
  section .container .waitlist .form .input button::placeholder {
    text-align: center;
    font-weight: 400;
    font-size: 17px;
  }

  section .container .waitlist .form .input .validation-badge {
    top: 116px !important;
  }
}

section .container .hidden-frame {
  display: none;
}

/*                                                                                      *
 *                                         MENU                                         *
 *                                                                                      */
body {
  position: relative;
}

.top-header {
  background-color: #141414;
}

.top-header ul li a {
  color: #FFFFFF;
}

.top-header ul li a.button {
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
}

.top-header ul li a:hover {
  color: #d4c6ef;
}

.top-header ul li #burger-icon .burger-line {
  background-color: #FFFFFF;
}

.top-header.fixed {
  background-color: rgba(20, 20, 20, 0.9);
}

.top-header.mobile-fixed {
  background-color: #141414;
}

/*                                                                                      *
 *                                        HEADER                                        *
 *                                                                                      */
header {
  width: 100%;
  height: 720px;
  background-color: #141414;
  padding-top: 250px;
  position: relative;
}

@media screen and (max-width: 700px) {
  header {
    height: 480px;
    padding-top: 142px;
  }
}

header h1 {
  color: white;
  max-width: 20ch;
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
  z-index: 2;
  position: relative;
}

header p {
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
  text-align: center;
  max-width: 70ch;
  margin: auto;
  line-height: 32px;
  z-index: 2;
  position: relative;
}

header .icon {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #6135C4;
  border: 5px solid #FFFFFF;
  border-radius: 50px;
}

header .icon img {
  width: 100%;
  padding: 10px;
}

@media screen and (max-width: 700px) {
  header .icon {
    width: 56px;
    height: 56px;
    bottom: -28px;
  }
}

header .background {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  width: 100%;
  height: 640px;
}

@media screen and (max-width: 700px) {
  header .background {
    top: 72px;
    height: 408px;
  }
}

header .background .ripple {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1144px;
  height: 1144px;
  border-radius: 600px;
  border: 1px solid rgba(97, 53, 196, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

header .background .ripple .ring {
  width: 50%;
  height: 50%;
  border-radius: 600px;
  border: 1px solid rgba(97, 53, 196, 0.5);
}

@media screen and (max-width: 700px) {
  header .background .ripple {
    width: 770px;
    height: 770px;
    border-radius: 385px;
  }
}

/*                                                                                      *
 *                                       SECTIONS                                       *
 *                                                                                      */
section {
  width: 100%;
  padding: 142px 0;
}

@media screen and (max-width: 700px) {
  section {
    padding: 55px 0;
  }
}

section .container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 700px) {
  section .container {
    flex-direction: column;
  }
}

section .container .text-box,
section .container .imgs {
  width: 50%;
}

@media screen and (max-width: 700px) {

  section .container .text-box,
  section .container .imgs {
    width: 100%;
  }
}

section .container .text-box {
  color: #141414;
}

section .container .text-box h2 {
  font-size: 40px;
  font-family: "Euxodus Sans ExtraBold", sans-serif;
  margin-bottom: 41px;
}

section .container .text-box p {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  line-height: 32px;
}

@media screen and (max-width: 700px) {
  section .container .text-box {
    order: 1;
    margin-bottom: 42px;
  }

  section .container .text-box h2 {
    font-size: 28px;
    margin-bottom: 36px;
  }

  section .container .text-box p {
    font-size: 15px;
    line-height: 21px;
  }
}

section .container .imgs img {
  border-radius: 32px;
  width: 100%;
}

@media screen and (max-width: 700px) {
  section .container .imgs {
    order: 2;
  }
}

/*                                                                                      *
 *                                  OUR MISSION SECTION                                 *
 *                                                                                      */
.our-mission {
  padding-top: 220px;
}

@media screen and (max-width: 700px) {
  .our-mission {
    padding-top: 110px;
  }
}

.our-mission .imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.our-mission .imgs .left,
.our-mission .imgs .right {
  width: 50%;
}

.our-mission .imgs .left {
  margin-right: 32px;
}

.our-mission .imgs img {
  position: relative;
  z-index: 2;
}

.our-mission .imgs img:last-of-type {
  margin-top: 32px;
}

.our-mission .imgs .ripple {
  position: absolute;
  width: 340px;
  height: 340px;
  border-radius: 170px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(97, 53, 196, 0.5);
}

.our-mission .imgs .ripple .ring {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: 1px solid rgba(97, 53, 196, 0.5);
}

@media screen and (max-width: 700px) {
  .our-mission .imgs .ripple {
    width: 196px;
    height: 196px;
    border-radius: 95.5px;
  }
}

.our-mission .text-box {
  margin-left: 90px;
}

@media screen and (max-width: 700px) {
  .our-mission .text-box {
    margin-left: 0;
  }
}

/*                                                                                      *
 *                               PANDEMIC IN MIND SECTION                               *
 *                                                                                      */
.pandemic-in-mind .text-box {
  margin-right: 90px;
  z-index: 2;
  position: relative;
}

@media screen and (max-width: 700px) {
  .pandemic-in-mind .text-box {
    margin-right: 0;
  }
}

.pandemic-in-mind .imgs {
  position: relative;
}

.pandemic-in-mind .imgs img {
  position: relative;
  z-index: 1;
}

.circle-background {
  position: absolute;
  width: 100%;
  bottom: 1154px;
  height: 812px;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  .circle-background {
    height: 530px;
    bottom: 1254px;
  }
}

.circle-background .circle-gradient {
  position: absolute;
  top: 0;
  right: -406px;
  width: 812px;
  height: 812px;
  border-radius: 50%;
  background: linear-gradient(0deg, #e3d8fb 0%, rgba(255, 255, 255, 0) 100%);
}

@media screen and (max-width: 700px) {
  .circle-background .circle-gradient {
    width: 530px;
    height: 530px;
    border-radius: 265px;
    right: -265px;
  }
}

/*# sourceMappingURL=style.css.map */
